@import "tailwindcss";

@theme inline {
  --color-sage-50: #f4f6f3;
  --color-sage-100: #e3ebe1;
  --color-sage-200: #c6d6c2;
  --color-sage-300: #A8BCA1;
  --color-sage-400: #7C9473;
  --color-sage-500: #627a59;
  --color-sage-600: #4A6741;
  --color-sage-700: #3c5234;
  --color-sage-800: #32422c;
  --color-sage-900: #293725;
  
  --font-sans: var(--font-poppins);
  --font-script: var(--font-great-vibes);
}

:root {
  --background: var(--color-sage-50);
  --foreground: var(--color-sage-900);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Custom Utilities for smooth scroll */
html {
  scroll-behavior: smooth;
}
